<!-- <p>movie-detail works!</p> -->

<div class="movie">
    <div><img class="movie__image" [src]="movie.Poster" alt="IMG"> </div>
    <h2>{{movie.Title}}</h2>
    <p>{{movie.Year}}</p>

    <p>Director: {{movie.Director}}</p>



    <p>Age rating: {{movie.Rated}}</p>
    
    
    <p>Genre: {{movie.Genre}}</p>

    <p>Runtime: {{movie.Runtime}}</p>
    <p>Plot: {{movie.Plot}}</p>
    <p>Key actors: {{movie.Actors}}</p>
    <p>Awards: {{movie.Awards}}</p>
    <p>Box office: {{movie.BoxOffice}}</p>
    <p>{{movie.Country}}</p> <!-- TODO sta ovde API craca, gde se snimalo ili sta -->
    <p>Language: {{movie.Language}}</p>

    <!-- <p>Production: {{movie.Production}}</p>-->

    <div class="" *ngIf="movie.Production !== 'N/A'">
        <p>Production: {{movie.Production}}</p>
    </div>

    <p>Released: {{movie.Released}}</p>
    <p>Writer: {{movie.Writer}}</p>
    <p>imdb rating: {{movie.imdbRating}}</p>
    <p>Imdb votes: {{movie.imdbVotes}}</p>
    <p>Imdb id: {{movie.imdbID}}</p>
    <p>Media type: {{movie.Type}}</p>
    <div class="" *ngIf="movie.DVD != 'N/A'">
        <p>DVD: {{movie.DVD}}</p>
    </div>
    
    <p>Website: {{movie.Website}}</p>
    <p>Metascore: {{movie.Metascore}}</p>
    <a href="/movie-by-id?id={{movie.imdbID}}&apiKey={{apiKey}}" >Details</a>



    
</div>