<!-- <form class="custom-form" #movieForm="ngForm" (ngSubmit)="createMovie(movieForm)">
    <div>
        <button type="submit" class="btn btn-primary m-3 ">Prikazi film</button>
    </div>
</form> -->
<!-- <div style="background-image: url('assets/Carousel/1.jpg'); height: 100vh; width: 100%; background-size: cover; "></div> -->

<body background="assets/bg.jpg" bgcolor="#000000" bgproperties="fixed">

<h1>Find your Favourite Movie.</h1>

<div class="d-flex  justify-content-center" >

    <div class="card pretragaS" style="width: 50rem;     background-size: cover;" >
        <form class="custom-form" #movieForm="ngForm" (ngSubmit)="searchMovie(movieForm)" >
            
            <div class="form-group">
                <div class=" d-flex m-1 ms-2 justify-content-start">
                    <label for="movieName" >Movie name:</label>                          
                </div>
                                    
                <input class="form-control inputPolja" type="text" name="title" id="movieTitle1"
                    [(ngModel)]="movieTitle" placeholder="Enter movie title">
            </div>


            <div class="form-group my-4">
                <div class=" d-flex m-1 ms-2 justify-content-start">
                    <label for="movieName" >Movie year:</label>  
                </div>
                                    
                <input class="form-control inputPolja" type="number" name="year" id="year1" [(ngModel)]="year"
                placeholder="Enter movie year">
            </div>


            <div class="form-group">
                <div class=" d-flex m-1 ms-2 justify-content-start">
                    <label for="movieName" >API key:</label>                          
                </div>
                                    
                <input class="form-control inputPolja" type="text" name="apiKey" id="apikey1" [(ngModel)]="apiKey"
                    placeholder="Enter your API key">
            </div>

            <div>
                <button type="submit" class="btn btn-primary m-3 ">Pretraga</button>
            </div>
        </form>
    </div>
</div>

<div class="">
    <div class="" *ngIf="movie2">
        <app-movie-detail [movie]="movie2"></app-movie-detail>
    </div>
</div>

</body>