<!--<p>movie-comp works!</p>-->

<div class="movie">
    <div><img class="movie__image" [src]="movie.posterURL" alt="IMG"> </div>
    <h3>{{movie.name}}</h3>
    <p>{{movie.Year}}</p>
    <p>{{movie.director}}</p>
</div>

<!--<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->